@import '/src/assets/variables/main';

.thisScreen {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.chatInputWrapper {
  width: 100%;
}

.chatInput {
  padding: 1rem;
  display: flex;
  width: 100%;
  margin: 0 !important;

  background-color: white;
}

.divider {
  margin: 0 !important;
}

.header {
  height: 80px;
  background-color: $white !important;
  border-bottom: 1px solid $grayLighter !important;
}

.content {
  display: flex;
  flex-direction: column;
  background-color: $white;
}

.listOfMessages {
  @include vertical-scrollbar();
  flex: 1 1 auto;
  min-height: 0px;
  padding: 0 0.5rem;

  background-color: $white;
}

.resetLineHeight {
  line-height: 0;
}

.chatName {
  font-weight: 500;
  margin-bottom: 1.5rem !important;
}
