@import '/src/assets/variables/main';

.header {
  height: 80px;

  background-color: $white !important;
  border-bottom: 1px solid $grayLighter !important;
}

.resetLineHeight {
  line-height: 2rem;
  //   margin: 0 !important;
}

.chatName {
  font-weight: 500;
  margin-bottom: 0 !important;
  max-width: 200px;
}
