@import '/src/assets/variables/main';

.thisMessageCard {
  margin-bottom: 1rem;
}

.messagePara {
  padding: 0.5rem 1rem !important;
  margin-bottom: 0 !important;
  max-width: 500px;
  font-size: 14px;

  background-color: darken($gray, 5) !important;
  border-radius: 19px;
}

.myMessagePara {
  background-color: $blue !important;
  color: $white !important;
}
