@import '../../assets/variables/colors';

.chatCard {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 4px;
  background-color: $white;

  margin-left: 0 !important;
  margin-right: 0 !important;
  transition: 0.1s all ease;
  cursor: pointer;

  &:hover {
    background-color: $blueExtraLight;
  }
}

.chatName {
  font-weight: 500;
  margin-bottom: 0.5rem !important;
  text-transform: capitalize;
}

.lastMessage {
  color: $textSecondary;
  width: 100%;
}
