$blue: #3a7bc8;
$blueExtraLight: #e8f3ff;
$blueExtraDark: #2b2c31;

$white: #ffffff;

$gray: rgba(245, 246, 250, 0.85);
$grayDarker: #606060;
$grayLighter: #edeef6;
$grayLight: #f5f6fa;

$greenLight: #48ba97;
$textSecondary: #7f808c;
$textPrimary: #242939;
