@import '/src/assets/variables/main';

.resetLineHeight {
  line-height: 0;
}

.chatName {
  font-weight: 500;
  margin-bottom: 1.5rem !important;
}

.listOnlineVertically {
  width: 100%;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.listOfMessages {
  flex-grow: 1;
}

.chatInput {
  padding: 1rem;
  display: flex;
  width: 100%;
}

.baseInput {
  background-color: white;
}

.siderScroll {
  @include vertical-scrollbar();
}

.siderHead {
  position: sticky;
  top: 0;
  z-index: 1;

  padding-top: 1rem;

  background-color: $grayLight;
}

.dividerVertical {
  height: 100vh !important;
  margin: 0 !important;
}

.appAvatar {
  cursor: pointer !important;
}

.avatarSection {
  margin-bottom: 0.5rem !important;
}

.avatarDisplayname {
  display: block;
}

.bio {
  color: $grayDarker;
}

.contactRow {
  position: relative;

  padding: 0.5rem 0;
  margin: 0 -0.5rem;

  transition: all ease 0.2s;
  cursor: pointer;

  &:hover {
    background-color: darken($blueExtraLight, 2.5);
    padding-left: 0.25rem;
  }
}

.emptyConversationPane {
  padding-bottom: 1rem;
  transform: translateY(-2rem);
}

.emptyConversationRow {
  color: $grayDarker;
  margin-bottom: 1rem;
}

.emptyConversationIcon {
  font-size: 64px;
  font-weight: 100;
}
