@import '/src/assets/variables/main';

.resetLineHeight {
  line-height: 0;
}

.chatName {
  font-weight: 500;
  margin-bottom: 1.5rem !important;
}

.listOnlineVertically {
  width: 100%;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.listOfMessages {
  flex-grow: 1;
}

.chatInput {
  padding: 1rem;
  display: flex;
  width: 100%;
}

.baseInput {
  background-color: white;
}

.siderScroll {
  @include vertical-scrollbar();
}

.siderHead {
  position: sticky;
  top: 0;
  z-index: 1;

  padding-top: 1rem;

  background-color: $grayLight;
}

.dividerVertical {
  height: 100vh !important;
  margin: 0 !important;
}

.appAvatar {
  margin-bottom: 0.5rem !important;
  cursor: pointer !important;
}
