.resetLineHeight {
  line-height: 0;
}

.chatName {
  font-weight: 500;
  margin-bottom: 1.5rem !important;
}

.listOnlineVertically {
  width: 100%;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.listOfMessages {
  flex-grow: 1;
}

.chatInput {
  padding: 1rem;
  display: flex;
  width: 100%;
}

.baseInput {
  background-color: white;
}
